// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
.test {
  color: tomato;
}
.navbar-brand {
  padding-left: 0;
}
#wrapper-footer {
  background-color: $primary;
  color: rgba(#ffffff, 0.9);
  padding: 1rem 0;
}
